@font-face {
    font-family: "Norse";
    src: URL("../fonts/Norse-Bold.otf") format("truetype");
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}

.left {
    width: 25%;
    height: 100%;
    font-family: "Norse";
    background-color: rgba(197, 197, 197, 0.459);
    background-image: url("../images/background.jpeg");
    background-size: cover;
    color:white;
}

.logo {
    height: 100px;
}

h1 {
    font-size: 80px;
    display:flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.295);
}

.right {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 58, 58, 0.384);
}

.top {
    background-color: beige;
    flex-grow: 1;
}

form {
    flex-grow: 2;
    background-color: blueviolet;
}

.mid {
    background-color: blanchedalmond;
    height: 50%;
    display: flex;
    flex-direction: column;
}

input {
    width: 160px;
}

.bottom {
    background-color: aquamarine;
    height: 50%;
}
