@font-face {
    font-family: "Norse";
    src: URL("../fonts/Norse-Bold.otf") format("truetype");
}
/* Setup */
body,
html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}
/* Left side */

.left {
    width: 30%;
    height: 100%;
    background-color: rgba(197, 197, 197, 0.459);
    background-image: url("../images/background.jpeg");
    background-size: cover;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 150px;
    height: 150px;
}

.logo {
    height: 100px;
}

.title {
    font-family: "Norse";
    font-size: 80px;
    position: relative;
    top: 10px;
    color: white;
}

.credit {
    color:white;
    text-align: center;
    position:fixed;
    bottom:0;
    left: 7.5%;
}

.credit > a {
    color:white;
}

/* Right side */
.right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.toptext, .midtext, .bottomtext {
    margin-left:40px;
    margin-right:280px;
}

.top {
    flex-grow: 1;
    font-weight: bold;
    font-size: 20px;
}

.toptext {

    position: relative;
    top:100px;
}

form {
    flex-grow: 2;
    background-color: white;
}

.mid {
    background-color: rgba(128, 128, 128, 0.136);
    height: 50%;
    display: flex;
    flex-direction: column;
}


input {
    width: 240px;
}

.bottom {
    background-color: rgba(128, 128, 128, 0.236);
    height: 50%;
}

button {
    background-color: #596D48;
    color:white;
    padding: 10px 50px;
    font-size:20px;
    border-radius:15px;
}
